.select-periodo {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    border-radius: 12px;
    padding: 0 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.select-periodo i {
    font-size: 14px;
}

/* Estilo del menú desplegable (<select>) */
.select-periodo select {
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    color: #1a2b3c;
    padding: 10px 4px;
    cursor: pointer;
    outline: none;
    font-family: inherit;
}


/* grid principal */
.dashboard-inicio {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;
}

/* colores y cosas de las tarjetas */
.tarjeta {
    background-color: white;
    padding: 22px;
    border-radius: 18px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    grid-column: span 3;
}

.tarjeta-ancha2{
    grid-column: span 4;
}

.tarjeta-ancha1{
    grid-column: span 5;
}

.tarjeta h3 {
    margin-top: 0;
    font-size: 16px;
    color: #26544c;
}

.tarjeta h2 {
    margin-top: 0;
    font-size: 20px;
    color: #26544c;
}

.tarjeta p {
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0;
}

.tarjeta button {
    border: none;
    background-color: #9c9c9c;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}
.tarjeta button a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* ENCABEZADO Y BOTONES SUPERIORES */
.inicio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.inicio-header h1 {
    margin: 0;
}

.inicio-header p {
    margin: 5px 0 0;
    color: #6b7280;
}

.inicio-icons {
    display: flex;
    gap: 10px;
}

.inicio-icons button {
    border: none;
    background: white;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}